.wd-navigation-row{
    background-color: black;
    color: white;
    height: 50;
}

.wd-button-padding{
    color: white;
    padding-top: 15;
}

.wd-navigation-bars-card{
    border-radius: 0%;
    background-color: white;
}

.wd-navigation-bars{
    background-color: white;
    list-style: none;
    padding: 0px;
    width: 125px;
    margin: 0px;
    margin-left: 20px;
}

.wd-navigation-bars li {
    font-size: 0.8em; 
}

.wd-navigation-bars li a {
    color: red;
    text-decoration: none;
}